:root {
  /* Colors */
  --primary-clr: hsl(259, 100%, 65%);
  --second-primary-clr: hsl(0, 100%, 67%);

  --neutral-clr-100: hsl(0, 0%, 100%);
  --neutral-clr-120: hsl(0, 0%, 94%);
  --neutral-clr-140: hsl(0, 0%, 86%);
  --neutral-clr-200: hsl(0, 1%, 44%);
  --neutral-clr-900: hsl(0, 0%, 8%);

  /* Font families */
  --ff-primary: "Poppins", sans-serif;

  /* Font sizes */
  --fs-inputs: 2rem;
  --fs-900: 4.5rem;
  --fs-900: 6rem;

  /* Font weights */
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

/* CSS Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button,
input {
  font: inherit;
}

/* Remove Arrows/Spinners in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Remove Arrows/Spinners in Firefox */
input[type="number"] {
  appearance: textfield;
}

/* Main style */
body {
  display: grid;
  place-items: center;
  min-height: 100dvh;
  font-family: var(--ff-primary);
  margin: 1rem;
  background-color: var(--neutral-clr-120);
}

.card {
  position: relative;
  max-width: 50rem;
  padding: 3rem;
  border-radius: 1.5rem;
  background-color: var(--neutral-clr-100);
}

form {
  max-width: 100%;
}

label {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--neutral-clr-200);
}

input {
  font-size: 5vw;
  max-width: 24rem;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--neutral-clr-140);
  border-radius: 0.5rem;
  color: var(--neutral-clr-900);
}

input::placeholder {
  color: var(--neutral-clr-200);
  opacity: 0.9;
}

input:focus {
  outline: 1px solid var(--primary-clr);
}

.button {
  position: absolute;
  top: 57.5vh;
  right: 41.5%;
  padding: 3vw;
  border: none;
  border-radius: 100vw;
  background-color: var(--primary-clr);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button:hover {
  background-color: var(--neutral-clr-900);
}

.button svg {
  height: 5.5vw;
  width: 5.5vw;
}

.button svg g {
  stroke-width: 3;
}

.divider {
  height: 0.125rem;
  margin: 1.8rem 0 3rem 0;
  max-width: 100%;
  background-color: var(--neutral-clr-120);
}

.result-type {
  line-height: 1.1;
  font-size: 11vw;
  font-style: italic;
  font-weight: var(--fw-extra-bold);
}

.result {
  color: var(--primary-clr);
}

.error-msg {
  visibility: hidden;
  font-weight: var(--fw-regular);
  font-style: italic;
  color: var(--second-primary-clr);
}

/* Utilities */
.flex-group-column {
  display: flex;
  flex-direction: column;
  max-height: 136.2px;
  gap: 0.5rem;
}

.flex-group-row {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.attribution {
  display: block;
  text-align: center;
  margin: 2rem auto;
}

.attribution a {
  color: var(--primary-clr);
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Error */
[aria-invalid="true"],
[aria-invalid="true"]:focus {
  outline: 2px solid var(--second-primary-clr);
}

[aria-invalid="true"] ~ .error-msg {
  visibility: visible;
}

/* Desktop */
@media (min-width: 42em) {
  body {
    overflow: hidden;
  }

  .card {
    border-radius: 1.5rem 1.5rem 10rem 1.5rem;
  }

  .button {
    top: 27%;
    right: 6%;
    padding: 1.3rem;
  }

  .result-type {
    font-size: var(--fs-900);
  }

  form {
    margin-right: 6rem;
  }

  input {
    font-size: var(--fs-inputs);
    max-width: 15rem;
  }

  .flex-group-row {
    flex-direction: row;
    gap: 2rem;
  }

  .button svg {
    height: 2.8rem;
    width: 2.8rem;
  }

  .button svg g {
    stroke-width: 2;
  }
}
